.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 70px;
}

.results {
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    gap: 20px;
    font-size: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    background-color: pink;
}

#reset {
    background-color: lightblue;
}
header {
    font-size: 30px;
    font-weight: bold;
}

.scoreboardContainer {
    display: flex;
    gap: 20px;
}

.playerScoreboard,
.computerScoreboard {
    border: 2px solid black;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}
