.buttons-container {
    display: flex;
    gap: 20px;
}

.results {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    gap: 10px;
    background-color: rgb(235, 220, 220);
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    background-color: pink;
}

#reset {
    background-color: lightblue;
    flex: auto;
}
header {
    font-size: 30px;
    font-weight: bold;
}

.scoreboardContainer {
    display: flex;
    gap: 50px;
}

.playerScoreboard,
.computerScoreboard {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    width: 180px;
    height: 110px;
    background-color: white;
    flex: 0 1 auto;
}

header {
    margin-top: 20px;
}

.content-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions {
    margin: 20px;
}
#roundWinner {
    margin: 15px;
    text-align: center;
}

#finalWinner {
    margin: 0 0 30px 0;
    text-align: center;
}

.score-container {
    display: flex;
    flex-direction: column;
}